---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Astronauts } from "../components/Astronauts.jsx";
import { Header } from "../components/Header.jsx";
import { Starfield } from "../components/Starfield.jsx";
---

<BaseLayout title="Humanos en el Espacio - Exoteroide">
  <Starfield client:load />
  <main style="position: relative; z-index: 1;">
    <Astronauts client:load />
  </main>
</BaseLayout>
