---
import BaseLayout from "../layouts/BaseLayout.astro";
import Extremos from "../components/Extremos.jsx";
---

<BaseLayout title="Extremos del universo - Exoteroide">
  <main style="position: relative; z-index: 1;">
    <Extremos client:load />
  </main>
</BaseLayout>
