---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import { NEOList } from '../components/NEOList.jsx';
---

<BaseLayout title="Asteroides Cercanos a la Tierra">
    <main>
        <NEOList client:load />
    </main>
</BaseLayout>
